{% extends 'base.html.twig' %}

{% block title %}Mes exercices - {{project_name}}{% endblock %}

{% block body %}
{{ component('DeleteModal', { message: "Êtes-vous certain de vouloir supprimer cet exercice ?"}) }}
<h1 class="text-cse font-bold text-3xl pb-6">Mes exercices</h1>
<div class="bg-white rounded-lg p-8">
    <p class="pb-6">
       Vous pouvez modifier ou supprimer un de vos exercices.
    </p>
    <div class="relative overflow-x-auto shadow-md rounded-xl overflow-hidden">
        <table>
            <thead class="tableHeader">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Matière
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Niveau
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Thématique
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fichiers
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if exercises is not empty %}
                        {% for exercise in exercises %}
                           <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" data-element-id="{{ exercise.id }}">
                                <th scope="row" class="px-6 py-4">
                                    {{ exercise.name }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ exercise.course.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ exercise.classroom.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ exercise.thematic.name }}
                                </td>
                                <td class="px-6 py-4 grid">
                                    <a class="flex gap-2 items-center justify-start hover:underline" href="{{ exercise.exerciseFile.originalName }}" download="enonce"><i class="fa-solid fa-file-arrow-down"></i>Énoncé</a>
                                    <a class="flex gap-2 items-center justify-start hover:underline" href="{{ exercise.correctionFile.originalName }}" download="correction"><i class="fa-solid fa-file-arrow-down"></i>Correction</a>
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <div class="flex gap-4">
                                        <a href="#" class="font-medium text-neutral-500 dark:text-neutral-300 hover:underline flex items-start gap-2"><i class="fa-solid fa-pen-to-square"></i>Modifier</a>
                                        <a href="#" class="open-delete-modal font-medium text-neutral-500 dark:text-neutral-300 hover:underline flex items-start gap-2" data-modal-target="popup-modal" data-modal-toggle="popup-modal" data-modal-element-id="{{ exercise.id }}" ><i class="fa-solid fa-trash-can"></i>Supprimer</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                {% else %}
                    <tr><td colspan="6" class='text-center text-lg p-4'>Aucun exercice trouvé.</td></tr>
                {% endif %}
                
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
