{% extends 'base_administration.html.twig' %}

{% block title %}Gestion des Exercices{% endblock %}

{% block body %}
{{ component('DeleteModal', { message: 'Êtes-vous certain de vouloir supprimer cet exercice ?' } ) }}
<h2 class="text-xl font-bold py-5">Gestion des Exercices</h2>
<div class="flex w-full mb-5 justify-between">
    <form class="flex items-end  " id="researchForm">
        <div class="relative w-full">
            <label for="search" class="text-stone-500 text-md">Rechercher un exercice par n'importe quel champ :</label>
            <input type="text" id="search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-3 ms-2 text-md font-medium  bg-gray-100 rounded-lg border border-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300">
            Rechercher
        </button>
    </form>
    <div class="flex items-end ">
        <a href="{{ path('app_administration_exercise_new') }}"
            class="!ml-5 focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-8 py-5 whitespace-nowrap">Ajouter&nbsp;<i class="fa-solid fa-plus"></i></a>
    </div>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matière</th>
                <th>Classe</th>
                <th>Thématique</th>
                <th>Chapitre</th>
                <th>Mots Clés</th>
                <th>Difficulté</th>
                <th>Durée (en heure)</th>
                <th>Origine</th>
                <th>Nom</th>
                <th>Informations ou Prénom</th>
                <th>Crée à</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                data-element-id="{{ exercise.id }}">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.course.name }}</td>
                <td>{{ exercise.classroom.name }}</td>
                <td>{{ exercise.thematic.name }}</td>
                <td>{{ exercise.chapter }}</td>
                <td class="keywordsContainer">{{ exercise.keywords }}</td>
                <td>Niveau&nbsp;{{ exercise.difficulty }}</td>
                <td class="durationToDatetime">{{ exercise.duration }}</td>
                <td>{{ exercise.origin ? exercise.origin.name : exercise.proposedByType }}</td>
                <td>{{ exercise.origin ? exercise.originName : exercise.proposedByLasName}}</td>
                <td>{{ exercise.origin ? exercise.originInformation : exercise.proposedByFirstName }}</td>
                <td>{{ exercise.createdAt ? exercise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="px-6 py-4">
                    {% set exerciseFileUrl = asset('images/file/' ~ exercise.exerciseFile.name) %}
                    {% set correctionFileUrl = asset('images/file/' ~ exercise.correctionFile.name) %}
                    {% set exerciseFileIsPdf = exercise.exerciseFile.name|lower ends with '.pdf' %}
                    {% set correctionFileIsPdf = exercise.correctionFile.name|lower ends with '.pdf' %}

                    <a class="flex gap-2 items-center justify-start hover:underline"
                    href="{{ exerciseFileUrl }}"
                    {% if not exerciseFileIsPdf %} download="{{ 'Énoncé-' ~ exercise.name|slug }}" {% else %} target="_blank" {% endif %}>
                        <i class="fa-solid fa-file-arrow-down"></i>Énoncé
                    </a>

                    <a class="flex gap-2 items-center justify-start hover:underline"
                    href="{{ correctionFileUrl }}"
                    {% if not correctionFileIsPdf %} download="{{ 'Correction-' ~ exercise.name|slug }}" {% else %} target="_blank" {% endif %}>
                        <i class="fa-solid fa-file-arrow-down"></i>Correction
                    </a>

                </td>
                <td class="px-6 py-4 text-right">
                    <div class="flex gap-4">
                        <a href="{{ path('app_administration_exercise_edit', {'id': exercise.id}) }}"
                            class="font-medium text-neutral-500 dark:text-neutral-300 hover:underline flex items-start gap-2"><i
                                class="fa-solid fa-pen-to-square"></i>Modifier</a>
                        <button
                            class="open-delete-modal font-medium text-neutral-500 dark:text-neutral-300 hover:underline flex items-start gap-2"
                            data-modal-target="popup-modal" data-modal-toggle="popup-modal"
                            data-modal-element-id="{{ exercise.id }}"><i
                                class="fa-solid fa-trash-can"></i>Supprimer</button>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td class='text-center text-lg p-4' colspan="13">Aucun exercice n'a été trouvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="flex justify-center h-16 items-center">
    {{ knp_pagination_render(exercises) }}
</div>
{% endblock %}