{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex gap-2 pagination">

        {# {% if first is defined and current != first %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
        {% endif %} #}

        {% if previous is defined %}
            <span class="prev">
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </span>
        {% else %}
            <span class="prev disabled">
                <i class="fa-solid fa-angle-left"></i>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="current">
                    <span>{{ page }}</span>
                </span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="next">
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </span>
        {% else %}
            <span class="next disabled">
                <i class="fa-solid fa-angle-right"></i>
            </span>
        {% endif %}

        {# {% if last is defined and current != last %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
        {% endif %} #}
        </div>
    </div>
{% endif %}
