{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex gap-2 pagination">

        {# {% if first is defined and current != first %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
        {% endif %} #}

        {% if previous is defined %}
            <span class="prev">
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </span>
        {% else %}
            <span class="prev disabled">
                <i class="fa-solid fa-angle-left"></i>
            </span>
        {% endif %}

        {% if current > 2  %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): 1 })) }}">{{ 1 }}</a>
            </span>

            {% if current > 3 and current == pageCount %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): 2 })) }}">{{ 2 }}</a>
            </span>
            {% endif %}
            

            {% if current > 3 and pageCount > 4 %}
            <span class="">
                <span>...</span>
            </span>
            {% endif %}
        {% endif %}

        {% for page in range(current - 1 < 1 ? 1 : current - 1, current + 1 > pageCount ? pageCount : current + 1 ) %}
            {% if page != current %}
                <span class="">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="current">
                    <span>{{ page }}</span>
                </span>
            {% endif %}
        {% endfor %}

        {% if current < pageCount - 1  %}

            {% if current < pageCount - 2  and pageCount > 4 %}
                <span class="">
                    <span>...</span>
                </span>
            {% endif %}
            
            {% if current < pageCount - 2 and current == 1 %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount - 1 })) }}">{{ pageCount - 1 }}</a>
            </span>
            {% endif %}

            {% if current < pageCount - 1 %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </span>
            {% endif %}
        {% endif %}

        {% if next is defined %}
            <span class="next">
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </span>
        {% else %}
            <span class="next disabled">
                <i class="fa-solid fa-angle-right"></i>
            </span>
        {% endif %}

        {# {% if last is defined and current != last %}
            <span class="">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
        {% endif %} #}
        </div>
    </div>
{% endif %}
